<p>customerloginreg works!</p>

<div style="display:table;">
    <div style="display:table-cell;vertical-align:middle;">
      <div style="margin-left:auto;margin-right:auto;">Customer Login and Registration</div>
    </div>
  </div>
<div class="row">
    <div class="col-3">
    </div>
        <div class="col-5 pull-right" *ngIf="replyerrors">
            {{replyerrors}}
        </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class=" col-5 inline d-flex justify-content-center">
            <form (submit)="login(loginValue)" #loginValue="ngForm">
                <h4 class="block">Login</h4>
                <label class="mr-2" for="username">Username</label>
                <input type="text" name="username" id="username" ngModel />
                <p></p>
                <label class="mr-2" for="password">Password</label>
                <input type="text" name="password" id="password" ngModel />
                <p></p>
                <input class="btn btn-dark rounded" type="submit" value="Login" />
                <a class="btn btn-secondary rounded ml-2" routerLink="/login">Cancel</a>
            </form>
        </div>
        <div class="col-5 inline-block  d-flex justify-content-center">
            <form (submit)="register(registerValue)" #registerValue="ngForm">
                <h4>Register</h4>
                <label class="mr-2" for="firstname">First Name</label>
                <input type="text" name="firstname" id="registerfirstname" ngModel />
                <p></p>
                <label class="mr-2" for="lastname">Last Name</label>
                <input type="text" name="lastname" id="registerlastname" ngModel />
                <p></p>
                <label class="mr-2" for="street">Street</label>
                <input type="text" name="street" id="registerstreet" ngModel />
                <p></p>
                <label class="mr-2" for="city">City</label>
                <input type="text" name="city" id="registercity" ngModel />
                <p></p>
                <label class="mr-2" for="State">State</label>
                <input type="text" name="State" id="registerstate" ngModel />
                <p></p>
                <label class="mr-2" for="email">Email</label>
                <input type="text" name="email" id="registeremail" ngModel />
                <p></p>
                <label class="mr-2" for="password">Password</label>
                <input type="text" name="password" id="registerpassword" ngModel />
                <p></p>
                <input class="btn btn-dark rounded" type="submit" value="Register" />
                <a class="btn btn-secondary rounded ml-2" routerLink="/login">Cancel</a>
            </form>
        </div>
    </div>
</div>