<p>customerloginreg works!</p>

<div style="display:table;">
    <div style="display:table-cell;vertical-align:middle;">
        <div style="margin-left:auto;margin-right:auto;">Customer Login and Registration</div>
    </div>
</div>
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-5 pull-right" *ngIf="replyerrors">
        <div *ngFor="let error of replyerrors">
            Error: <b>{{error}}</b>
        </div>
        <!-- {{replyerrors}} -->
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class=" col-5 inline d-flex justify-content-center">
            <form (submit)="login(loginValue)" #loginValue="ngForm">
                <h4 class="block">Login</h4>
                <label class="mr-2" for="email">Email</label>
                <input type="text" name="email" id="email" ngModel />
                <p></p>
                <label class="mr-2" for="password">Password</label>
                <input type="text" name="password" id="password" ngModel />
                <p></p>
                <input class="btn btn-dark rounded" type="submit" value="Login" />
                <a class="btn btn-secondary rounded ml-2" routerLink="/login">Cancel</a>
            </form>
        </div>
        <!-- <div class="col-5 inline-block  d-flex justify-content-center">
            <form (submit)="register(registerValue)" #registerValue="ngForm">
                <h4>Register</h4>
                <label class="mr-2" for="firstname">First Name</label>
                <input type="text" name="firstname" id="registerfirstname" ngModel />
                <p></p>
                <label class="mr-2" for="lastname">Last Name</label>
                <input type="text" name="lastname" id="registerlastname" ngModel />
                <p></p>
                <label class="mr-2" for="street">Street</label>
                <input type="text" name="street" id="registerstreet" ngModel />
                <p></p>
                <label class="mr-2" for="city">City</label>
                <input type="text" name="city" id="registercity" ngModel />
                <p></p>
                <label class="mr-2" for="state">State</label>
                <input type="text" name="state" id="registerstate" ngModel />
                <p></p>
                <label class="mr-2" for="email">Email</label>
                <input type="text" name="email" id="registeremail" ngModel />
                <p></p>
                <label class="mr-2" for="password">Password</label>
                <input type="text" name="password" id="registerpassword" ngModel />
                <p></p>
                <input class="btn btn-dark rounded" type="submit" value="Register" />
                <a class="btn btn-secondary rounded ml-2" routerLink="/login">Cancel</a>
            </form>
        </div> -->
        <div class=" col-5 inline d-flex justify-content-center">
            <form [formGroup]="customer" (ngSubmit)="register()" novalidate>
                <h4>Register</h4>
                <label class="mr-2">First Name</label>
                <input formControlName="firstname" />
                <p></p>
                <label class="mr-2">Last Name</label>
                <input formControlName="lastname" />
                <p></p>
                <div formGroupName="address" novalidate>
                    <label class="mr-2">Street</label>
                    <input formControlName="street" />
                    <p></p>
                    <label class="mr-2">City</label>
                    <input formControlName="city" />
                    <p></p>
                    <label class="mr-2">State</label>
                    <input formControlName="state" />
                    <p></p>
                    <label class="mr-2">Zip Code</label>
                    <input formControlName="zip" />
                    <p></p>
                </div>
                <label class="mr-2">Email</label>
                <input formControlName="email" />
                <p></p>
                <label class="mr-2">Password</label>
                <input formControlName="password" />
                <p></p>
                <button class="btn btn-secondary rounded ml-2" type="submit" [disabled]="customer.pristine">Save</button>
                <a class="btn btn-secondary rounded ml-2" routerLink="/customer/login">Cancel</a>
            </form>
        </div>
    </div>
</div>