<p>restaurantloginreg works!</p>

<!-- <div style="display:table;">
    <div style="display:table-cell;vertical-align:middle;">
        <div style="margin-left:auto;margin-right:auto;">Restaurant Login and Registration</div>
    </div>
</div> -->
<div class="container text-align center"><h1>Restaurant Login and Registration</h1></div>
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-5 pull-right" *ngIf="replyerrors">
        {{replyerrors}}
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class=" col-5 inline d-flex justify-content-center">
            <form (submit)="login(loginValue)" #loginValue="ngForm">
                <h4 class="block">Login</h4>
                <label class="mr-2" for="email">Email</label>
                <input type="text" name="email" id="email" ngModel />
                <p></p>
                <label class="mr-2" for="password">Password</label>
                <input type="text" name="password" id="password" ngModel />
                <p></p>
                <input class="btn btn-dark rounded" type="submit" value="Login" />
                <a class="btn btn-secondary rounded ml-2" routerLink="/login">Cancel</a>
            </form>
        </div>
        <div class="col-5 inline-block  d-flex justify-content-center">
            <form (submit)="register(registerValue)" #registerValue="ngForm">
                <h4>Register</h4>
                <label class="mr-2" for="name">Name</label>
                <input type="text" name="name" id="registername" ngModel />
                <p></p>
                <label class="mr-2" for="description">Restaurant Description</label>
                <input type="text" name="description" id="registerdescription" ngModel />
                <p></p>
                <label class="mr-2" for="email">Email</label>
                <input type="text" name="email" id="registeremail" ngModel />
                <p></p>
                <label class="mr-2" for="password">Password</label>
                <input type="text" name="password" id="registerpassword" ngModel />
                <p></p>
                
                <input class="btn btn-dark rounded" type="submit" value="Register" />
                
                <a class="btn btn-secondary rounded ml-2" routerLink="/login">Cancel</a>
            </form>
        </div>
    </div>
</div>