<p>customerorderfromrestaurant works!</p>
<div *ngIf="restaurant">
    <div class="pos-f-t text-center">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
          </div>
        </div>

        
        <nav class="navbar navbar-dark bg-dark text-right inline-block">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="text-white" routerLink="/customer/login">Logout</a>
          <div class="container-fluid d-flex justify-content-center ">
            <div class="row-6  text-left"></div>
              <h2 class="text-white p-4 ">{{restaurant.name}}</h2>
          </div>
        </nav>
      </div>
    <div class="container-fluid">
      <h2 class="pl-4 pt-4">Menu</h2>
      <!-- Order Form here -->
      <h3>Order Form here</h3>
     

      
    </div>

</div>